@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sport-50: #fffde4;
  --color-sport-100: #fffdc5;
  --color-sport-200: #ffff92;
  --color-sport-300: #fbff52;
  --color-sport-400: #f0fc1f;
  --color-sport-500: #d3e200;
  --color-sport-600: #a3b500;
  --color-sport-700: #7b8902;
  --color-sport-800: #5f6a08;
  --color-sport-900: #515b0c;
  --color-sport-950: #2b3300;
}

:root {
  --radius: 0.625rem;
  --input-focus: #2d8cf0;
  --font-color: #1a1a1a;
  --font-color-sub: #e5e5e5;
  --bg-color: #ffffff;
  --main-color: #1a1a1a;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --input-focus: #2d8cf0;
  --font-color: #fefefe;
  --font-color-sub: #1a1a1a;
  --bg-color: #111;
  --main-color: #fefefe;
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .theme-text {
    @apply text-black dark:text-white;
  }
  .theme-bg {
    @apply bg-white dark:bg-black;
  }
}

@layer utilities {
  .wrapper {
    @apply w-full h-svh flex items-center justify-center bg-(--font-color-sub);
  }
  .auth-card {
    @apply w-86 h-112 md:w-102 md:h-112 px-4 bg-(--font-color-sub) dark:bg-(--bg-color) flex flex-col items-start justify-center gap-10 border-(--main-color) shadow-[4px_4px_var(--main-color)]  rounded-[5px] border-2 border-solid;
  }
  .auth-text {
    @apply text-2xl md:text-3xl text-center font-semibold;
  }
  .form {
    @apply w-full h-fit flex flex-col gap-2;
  }
  .title {
    @apply text-(--font-color) font-black text-xl mb-6.25;
  }
  .title span {
    @apply text-(--font-color-sub) font-semibold text-[17px];
  }
  .input {
    @apply w-full h-10 border-(--main-color) bg-(--bg-color) shadow-[4px_4px_var(--main-color)] text-[15px] font-semibold text-(--font-color) px-2.5 py-1.25 rounded-[5px] border-2 border-solid focus:border-(--input-focus) focus:border-2 focus:border-solid;
    outline: none;
  }
  .input::placeholder {
    @apply text-white dark:text-black opacity-80;
  }
  .login-with {
    @apply flex gap-5;
  }
  .button-log {
    @apply cursor-pointer w-10 h-10 border-(--main-color) bg-(--bg-color) shadow-[4px_4px_var(--main-color)] text-(--font-color) text-[25px] flex justify-center items-center rounded-[100%] border-2 border-solid;
  }
  .icon {
    @apply w-6 h-6 fill-(--main-color);
  }
  .button-log:active,
  .button-confirm:active {
    @apply shadow-[0px_0px_var(--main-color)] translate-x-0.75 translate-y-0.75;
  }
  .button-confirm {
    @apply w-30 h-10 border-(--main-color) bg-(--bg-color) shadow-[4px_4px_var(--main-color)] text-[17px] font-semibold text-(--font-color) cursor-pointer mt-12.5 mb-0 mx-auto rounded-[5px] border-2 border-solid;
  }
}
